<!DOCTYPE html>
  <head>
    <meta content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Desconto INSS</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'admin' %>    

    <style>
      .pagination a, .pagination span.current, .pagination span.gap {
          float: right;
          padding: 0 14px;
          line-height: 38px;
          text-decoration: none;
          background-color: white;
          border: 1px solid #DDD;
          border-left-width: 0;
      }

      .pagination {
        border-left: 1px solid #ddd;
        display: inline-flex;
      }
      .first{
          padding : 0;
          float: right;
          border: none;
      }
      .prev {
          padding : 0;
          float: right;
          border: none;
      }
      .page{
          padding : 0;
          float: right;
          border: none;
      }
      .next{
          padding : 0;
          float: right;
          border: none;
      }
      .last{
          padding : 0;
          float: right;
          border: none;
      }
    </style>
    
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col menu_fixed">
          <div class="left_col scroll-view">            

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="/images/img.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bem vindo,</span>
                <h2><%= current_admin.email%></h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">                
                <ul class="nav side-menu">
                  <li><%= link_to "Dashboard", users_path %></li>
                  <li><%= link_to "Cadastro", users_path %></li>
                  <li><%= link_to "Relatório", general_reports_path %></li>
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->            
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>
            <nav class="nav navbar-nav">
              <ul class=" navbar-right">
                <li class="nav-item dropdown open" style="padding-left: 15px;">
                  <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                    <img src="/images/img.png" alt=""><%= current_admin.email%>
                  </a>
                  <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown">                    
                    <%= link_to destroy_admin_session_path, method: :delete, class: "dropdown-item" do %>
                      <i class="fa fa-sign-out pull-right"></i> Sair
                    <% end %>
                  </div>
                </li>                  
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <%= yield  %>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag 'admin' %>

  </body>
</html>